# Ignore everything by default
*

# Allow folders so git can scan inside them
!*/

# Track these folders
!/sync/**

# Track these root files
!/.gitignore
!/default.project.json
!/README.md
!/selene.toml
!/.config.luau
!/.luaurc.json

# Do NOT track sourcemap
!/sourcemap.json
